@model eleven.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css/AceEdit.css ")
<h2>Here will be a project</h2>

<p>@Model.project.name</p>

<input type="button" id="runCode" value="Run The Code">
<label for="mode" class="control-label">Language Mode:</label>
<select id="mode" class="form-control">
    <option>javascript</option>
    <option>json</option>
    <option>xml</option>
    <option>php</option>
</select>
<div id="editor">
    @ViewBag.Code
</div>

@using (Html.BeginForm("SaveCode","Project", "Index", FormMethod.Post))
{
    @Html.HiddenFor(m => m.files[0].content, new { @id = "hidden_editor"}) 
    <input type="submit" value="Save Code" />
}

@section scripts
{
    <script src="~/3rdParty/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
        $("form").submit(function () {
            $("#hidden_editor").val(editor.getSession().getValue());
        });
    </script>
}
