@model eleven.Models.ViewModels.MyProjectViewModel

@{
    ViewBag.Title = "MyProjects";
}

<h2>My Projects</h2>
<hr class="headline-bottom" align="left" width="30%" />

<!--// Code for tab option in my projects-->
<ul class="nav nav-pills">
    <li role="presentation" class="@(ViewBag. == null ? "active" : "")">@Html.ActionLink("All projects","Index")</li>

</ul>

<section class="row">
    @foreach (var itemj in Model.projects)
    {
        <section class="col-sm-4">
            <section class="well">
                <h3>@Html.ActionLink(itemj.name, "Index", "Project", new { Id = itemj.Id }, null)</h3>
                <p>Author: @itemj.author</p>
            </section>
        </section>
    }
</section>