@model eleven.Models.ViewModels.MyProjectViewModel

@{
    ViewBag.Title = "MyProjects";
}

<h2>MyProjects</h2>

<section class="row">
    @foreach (var itemj in Model.projects)
    {
        <section class="col-sm-4">
            <section class="well">
                <h3>@Html.ActionLink(itemj.name, "Index", "Project", new { Id = itemj.Id }, null)</h3>

            </section>
        </section>
    }
</section>