@using Microsoft.AspNet.Identity

<div class="navbar-right navbar-inverse-right navbar-fixed-right">
    <p>Name of Project</p>
    <ul class="nav navbar-nav-right">
        <li>file-structure</li>
        <li>new file</li>
        <li>members</li>
    </ul>
</div>
