@model eleven.Models.ViewModels.MainPage

@{
    ViewBag.Title = "PickedProjects";
}

<h2>Picked Projects</h2>
<hr class="headline-bottom" align="left" width="30%" />
<section class="row">
    @foreach (var item in Model.pickedprojects)
    {
        <div class="col align-self-center">
            <section class="col-sm-4">
                <section class="well">
                    <h4>
                        @Html.DisplayFor(modelItem => item.title)
                    </h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.content)
                    </p>
                    <p>Created by: <span>@Html.DisplayFor(modelItem => item.author)</span></p>
                </section>
            </section>
        </div>
    }
</section>