/*Overriding bootstrap*/

#rightsidebar {
    overflow: hidden;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    padding-left: 20px;
    width: auto;
    background-color: lightgreen;
}

#explorer {
    display: flex;
}

.file {
    width: 100px;
}

.body-content{
    height: 100%;
    padding-right: 0px;
}
.container{
    margin-right:0px;
    margin-left: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
}
@media (min-width: 768px) {
 .container {
 width:auto;
 }
}

@media (min-width: 992px) {
 .container {
 width:auto;
 }
}
.navbar-fixed-left + .container{
    padding-left: 10px;
}

/*The Project Wrapper*/
.projectViewWrapper{
    width:100%;
    height:100%;
    float:right;
    overflow: hidden;
}

/*The Project Content*/
.projectViewContent{
    float:left;
}


/*The Project sidebar*/
.navbar-fixed-right {
  width: 140px;
  float: right;
  border-radius: 0;
  height: 100%;
}
.navbar-fixed-right .navbar-nav > li {
  float: left;  /* Cancel default li float: left */
  width: 139px;
}
.navbar-fixed-right + .container {
  padding-right: 160px;
}


/*Styling CSS*/
.navbar-fixed-right > p{
    text-align: center;
}
/*Þyrfti aðeins að stússast meira í þessu CSS-i*/
.button{
    color: #FFFFFF;
    background-color: #2D3034;
}
.input{
    color: #2D3034;
    background-color: #FFFFFF;
}

#miniicon {
    width: 15px;
    height: 10%;
    float: left;
}

.projectName{
    padding-top: 20px;
    padding-left: 5px;
}
ul , li {
  list-style: none;
  margin: 0;
  padding:0;
}
.file{
     padding-left:20px;
}