/*Overriding bootstrap to fit the sidebar into the project view*/
.body-content{
    padding-right: 160px;
}
.container{
    margin-right: 0;
    margin-left: 0;
}
.body{
    margin: 0;
}

/*The project content*/
.projectViewConent{
    padding-right: 160px;
}

/*The sidebar*/
.projectViewSidebar {
  width: 140px;
  border-radius: 0;
  height: 100%;
  float: right;
}

.projectViewSidebar .sidebar-li > li {
  float: right;  /* Cancel default li float: left */
  width: 139px;
}

.projectViewSidebar {
    background-color: #2D3034;
    border-bottom-color:none;
    border-top-color:none;
    border-left-color:none;
    border-right-color:none;
}

.projectViewSidebar .sidebar-li > li > a {
    color: #FFFFFF;
}