/*Overriding bootstrap*/
#rightsidebar {
    overflow: hidden;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    padding-left: 10px;
    background-color: #2D3034;
}

.body-content{
    height: 100%;
    padding-right: 0px;
}
.container{
    margin-right:0px;
    margin-left: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
}
@media (min-width: 768px) {
 .container {
 width:auto;
 }
}

@media (min-width: 992px) {
 .container {
 width:auto;
 }
}
.navbar-fixed-left + .container{
    padding-left: 10px;
}

/*The Project Wrapper*/
.projectViewWrapper{
    width:100%;
    height:100%;
    float:right;
    overflow: hidden;
}

/*The Project Content*/
.projectViewContent{
    float:left;
}


/*The Project sidebar*/
.navbar-fixed-right {
  width: 140px;
  float: right;
  border-radius: 0;
  height: 100%;
}
.navbar-fixed-right .navbar-nav > li {
  float: left;  /* Cancel default li float: left */
  width: 139px;
}
.navbar-fixed-right + .container {
  padding-right: 160px;
}


/*Styling CSS*/
.input{
    color: #2D3034;
    background-color: #FFFFFF;
}

#miniicon {
    width: 15px;
    height: 10%;
    float: left;
}

.projectName{
    padding-top: 20px;
    padding-left: 5px;
}
ul , li {
  list-style: none;
  margin: 0;
  padding:0;
}

.sideMenu{
    margin-left: -320px;
    margin-top: -34px;
    position: absolute;
    background-color: #2D3034;
    width: 310px;
    padding-left: 10px;
}

.toolbar {
    margin-bottom: 20px;
}

/*Sidebar Treeview*/
input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.sideBarTree > label, a{
  display: block;
  float: left;
  clear: left;
  position: relative;
  margin-left: 25px;
  padding: 5px;
  border-radius: 5px;
  color: #8EBC98;
  text-decoration: none;
  cursor: pointer;
}

.sideBarTree > label::before, a::before {
  display: block;
  position: absolute;
  top: 6px;
  left: -25px;
}

.sideBarTree > label::before {
  /* closed folder */
}

.sideBarTree > input:checked + label::before {
  /* open folder */
}

.sideBarTree > a::before {
  /* Á undan subs */
}

.sub {
  display: none;
  float: left;
  margin-left: 20px;
}

input:checked ~ .sub {
  display: block;
}

.emptyFolder{
      color: red;
}